---
layout: topic_page_detailed
disable_default_styles: true
disable_handbook_styles: true
extra_css:
  - topics2020.css
  - bl-modal.css
---
  
- content_for(:title, topic.title)
- content_for(:cover_image, topic.cover_image)
- if topic.cover_description != nil
  - content_for(:cover_description, topic.cover_description)

.container

  / Editor Items
  = partial "includes/cms/topic/header"

  %hr.u-margin-top-0.u-margin-bottom-0
    .row.topic-body.topic-main-body.u-margin-top-md
      %h2
        = topic.body_title 
      
      .col
        = topic.typeform.code

  = partial "includes/cms/topic/cta-banner"
  = partial "includes/cms/topic/resources"
  = partial "includes/cms/topic/suggested-content"
  = partial "includes/blog/try"
-# nested bullet list from markdown
:css
  .topic-body ul li ul li {
    font-size: 16px;
    line-height: 28px;
  }
