.container.slp-container.text-left
  .row.u-margin-top-lg
    .col-md-6
      = image_tag "/images/events/gitlab-commit/intro.jpg", loading: "lazy"
    .col-md-6.u-margin-bottom-xs
      %h2 GitLab Commit: Innovate Together
      %p
        Bringing together the GitLab community, Commit shares stories from across the software development lifecycle to inspire and connect teams to innovate together. GitLab Commit showcases how software professionals iterate to spark transformation, innovation, and collaboration. During this two-day conference, attendees learn practical techniques and useful insights to implement at their organizations. As a DevOps platform, GitLab supports teams to change how software is delivered. Commit amplifies these stories of transformation to empower DevOps teams to increase velocity, collaboration, and visibility. 