.customer-logos-container.clear-background
  %p
    Used by more than 100,000 organizations around the globe
  .logos-container
    - data.organizations.each do |org|
      - if org.landing == true
        - if org.asset_type == "case-study"
          %a{ href: "#{org.asset_link}" }
            = image_tag "#{org.logo}", alt: "#{org.name} logo", loading: "lazy", class: "intro-organization-logo", style: "width: 130px; margin: 16px 16px 0 0"
        - else
          = image_tag "#{org.logo}", alt: "#{org.name} logo", loading: "lazy", class: "intro-organization-logo", style: "width: 130px; margin: 16px 16px 0 0"
  .see-all-link
    = link_to "/customers/" do
      See all customers →
